body{

background:#001b1e;

font-family:
Arial;

display:flex;

justify-content:center;

padding:40px;

}



.card{

width:350px;

background:
linear-gradient(
135deg,
#06494d,
#001b1e
);


border:

3px solid #f5b700;


border-radius:25px;


padding:25px;

text-align:center;


color:white;


}



.logo{

width:90px;

border-radius:50%;

}



.photo{

width:100px;

height:100px;

border-radius:50%;

object-fit:cover;


border:

3px solid #f5b700;

}



.qr{

width:100px;

margin-top:20px;

}