*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:
Arial, sans-serif;

}



body{


height:100vh;

background:

radial-gradient(circle at center,

#07383c,

#001b1e 70%);


display:flex;

justify-content:center;

align-items:center;

color:white;

overflow:hidden;


}




.splash{

width:100%;

max-width:600px;

text-align:center;

padding:30px;


}






/* LOGO */


.logo-container{

position:relative;

width:300px;

height:300px;

margin:auto;


display:flex;

justify-content:center;

align-items:center;


}





.logo{


width:150px;

height:150px;

object-fit:contain;


border-radius:50%;


animation:

zoomLogo 3s infinite ease-in-out;


z-index:2;


}






.glow-ring{


position:absolute;


width:180px;

height:180px;


border-radius:50%;


border:

2px solid #f5b700;



animation:

pulse 2s infinite;


}





@keyframes zoomLogo{


0%{

transform:scale(1);

}


50%{

transform:scale(1.12);

}



100%{

transform:scale(1);

}



}





@keyframes pulse{


0%{

transform:scale(.9);

opacity:.5;

}


50%{

transform:scale(1.2);

opacity:1;

}


100%{

transform:scale(.9);

opacity:.5;

}


}







h1{


margin-top:25px;


font-size:45px;


color:#f5b700;


letter-spacing:3px;


}





h2{


font-size:28px;


color:white;


letter-spacing:2px;


}





.description{


margin:30px auto;


font-size:18px;


line-height:1.7;


max-width:520px;


color:#eeeeee;


}





.values{


display:flex;


justify-content:center;


gap:20px;


margin:30px 0;


}




.values div{


color:#f5b700;


font-size:14px;


}



.values span{


font-size:30px;


}





.values p{


margin-top:8px;


}





h3{


font-size:22px;


color:#f5b700;


margin-top:30px;


}





h4{


font-size:25px;


color:#00d9c0;


margin-top:10px;


}





.loading{


margin-top:40px;


}



.loading p{


color:white;


margin-bottom:15px;


text-transform:uppercase;


}





.progress{


height:12px;


width:300px;


margin:auto;


border:

1px solid #f5b700;


border-radius:20px;


overflow:hidden;


}





.bar{


height:100%;


width:0;


background:#f5b700;


animation:

load 5s linear forwards;


}




@keyframes load{


from{

width:0;

}


to{

width:100%;

}


}






@media(max-width:600px){


.logo-container{

width:170px;

height:170px;


}



.logo{

width:140px;

height:140px;

}



h1{

font-size:32px;

}



h2{

font-size:20px;

}



.description{

font-size:15px;

}



.values{

gap:10px;

}



.values span{

font-size:22px;

}



.progress{

width:250px;

}



}